.container-fluid{:class => (signed_in? ? "signed-in" : nil)}
  .row
    .sidebar
      .navbar.navbar-default
        = image_tag "logos/adopt-a-drain.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .sidebar-content
        %a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
          %p.alert-message.block-message#tagline
            = t("defaults.tagline")
        #content
          = render :partial => "layouts/flash", :locals => {:flash => flash}
          - if signed_in?
            = render :partial => "sidebar/search"
          - else
            = render :partial => "sidebar/combo_form"
        #logos
          .row
            .col-xs-6
              %a{:href => "http://sfwater.org/"}
                = image_tag "logos/sfpuc.png", :alt => t("sponsors.sfpuc"), :title => t("sponsors.sfpuc"), :class => "puc"
            .col-xs-6
              %a{:href => "http://sfdpw.org/"}
                = image_tag "logos/sfpw.jpg", :alt => t("sponsors.sfpw"), :title => t("sponsors.sfpw"), :class => "dpw"
            .col-xs-6
              %a{:href => "http://codeforsanfrancisco.org/"}
                = image_tag "logos/codeforsanfrancisco.png", :alt => t("sponsors.built"), :title => t("sponsors.built"), :class => "cfsf"
            .col-xs-6
              %a{:href => "http://codeforamerica.org/"}
                = image_tag "logos/cfa.jpg", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa"), :class => "cfa"
        #feedback
          .row
            .col-md-12
              %p
                %a{:href => URI.escape("mailto:adoptadrain@codeforsanfrancisco.org?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} - #{t("links.feedback").titleize}")}
                  = t("links.feedback")
    .col-md-9.map-container
      #map
        &nbsp;
      #legend
        .title
          Legend
        .show-hide
          %a#toggleLegend{:href=>"#"}
            Hide
  = render :partial => "sidebar/tos"
  = render :partial => "sidebar/guidelines"
:javascript
  $(function() {
    $('.navbar-toggle').on('click', function(){
      $('div.sidebar').toggleClass('sidebar-full');
    });
  });
