.container-fluid{:class => (signed_in? ? "signed-in" : nil)}
  .row
    .sidebar
      .navbar.navbar-default
        %a{href: root_url}
          = image_tag "logos/adopt-a-drain.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .sidebar-content
        -# Corresponds to guideline div below
        %div.hidden-xs
          %h3.text-center
            = t("titles.adopted_tagline", :count => Thing.adopted.count, :things => t("defaults.things"))
            .small
              Last updated
              = local_date(Time.now, '%B %e, %Y')
          %a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #content
          = render :partial => "layouts/flash", :locals => {:flash => flash}
          - if signed_in?
            = render :partial => "sidebar/search"
          - elsif @reset_password_token.present?
            = render :partial => 'passwords/edit'
          - else
            %iframe{ :width => "100%", :src => "https://www.youtube.com/embed/Z1Vjrx3IAH0", :frameborder => "0", :allowfullscreen => "allowfullscreen" }
            = render :partial => "sidebar/search"
        -# Corresponds to guideline div above
        %div.hidden.visible-xs-block
          %a.guidelines{:href => "#guidelines", :"data-toggle" => "modal", :"data-target" => "#guidelines"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #logos
          .row
            .col-xs-4
              %a{:href => "https://sfwater.org/index.aspx?page=1184"}
                = image_tag "logos/sfpuc.png", :alt => t("sponsors.sfpuc"), :title => t("sponsors.sfpuc"), :class => "puc"
            .col-xs-4
              %a{:href => "http://sfdpw.org/"}
                = image_tag "logos/SFPWlogo.jpg", :alt => t("sponsors.sfpw"), :title => t("sponsors.sfpw"), :class => "dpw"
            .col-xs-4
              %a{:href => "http://datasf.org/"}
                = image_tag "logos/DataSFLogo.png", :alt => t("sponsors.datasf"), :title => t("sponsors.datasf"), :class => "datasf"
          .row
            .col-xs-4
              %a{:href => "http://codeforsanfrancisco.org/"}
                = image_tag "logos/codeforsanfrancisco.png", :alt => t("sponsors.built"), :title => t("sponsors.built"), :class => "cfsf"
            .col-xs-4
              %a{:href => "http://codeforamerica.org/"}
                = image_tag "logos/cfa.jpg", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa"), :class => "cfa"
            .col-xs-4
              %a{:href => "http://tech.sfgov.org/"}
                = image_tag "logos/dtlogo.png", :alt => t("sponsors.dt"), :title => t("sponsors.dt"), :class => "dt"
    .col-md-9.map-container
      #map
        &nbsp;
      #legend
        .title
          Legend
        .show-hide
          %a#toggleLegend{:href=>"#"}
            Hide
  = render :partial => "sidebar/tos"
  = render :partial => "sidebar/guidelines"
:javascript
  $(function() {
    $('.navbar-toggle').on('click', function(){
      $('div.sidebar').toggleClass('sidebar-full');
    });
  });
