.table
  .table-row
    .table-cell.sidebar
      %h1
        = image_tag "logos/adopt-a-tree.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://www.minneapolisparks.org/"}
          = image_tag "logos/minneapolis-parks.png", :alt => t("sponsors.board"), :title => t("sponsors.board")
        %br
        %a{:href => "http://codeforamerica.org/"}
          = image_tag "logos/cfa.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
        %br
        %a{:href => "http://www.opentwincities.org/"}
          = image_tag "logos/otc-o-brand-horiz.png", :alt => t("sponsors.otc"), :title => t("sponsors.otc")
      #feedback
        %p
          %a{:href => URI.escape("mailto:contact@opentwincities.org?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} - #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map
        &nbsp;
