.table
  .table-row
    .table-cell.sidebar
      %h1
        = image_tag "logos/adopt-a-drain.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
      %button.btn.btn-block.btn-primary#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://codeforamerica.org/"}
          = image_tag "logos/cfa.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
        %a{:href => "http://bostonbuilt.org/"}
          = image_tag "logos/boston.png", :alt => t("sponsors.city"), :title => t("sponsors.city")
      #feedback
        %a{:href => URI.escape("mailto:adoptadrain@cityofboston.gov?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
          = t("links.feedback")
    .table-cell#map
      &nbsp;
