%h2
  = t("titles.token") 
= form_for :promo_code, :url => promo_codes_path, :method => :put, :html => {:id => "promo_code_form"} do |f|
  = f.hidden_field "user_id", :value => current_user.id
  %fieldset.control-group{:id => 'token_possession_container'}
    = f.label t("labels.token_possession"), :id => "token_possession_label"
    %fieldset.control-group{:id => 'token_possession_buttons'}
      %button.btn{:id => "token_code_no"}
        = t("buttons.neg")
      %button.btn{:id => "token_code_yes"}
        = t("buttons.pos")
  %fieldset.control-group{:id => 'token_input_container'}
    = f.label t("labels.token_intake"), :id => "token_code_label"
    = f.text_field "token_code"
    = f.submit t("buttons.use_token"), :class => "btn primary"
