= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "edit_form", :method => :put} do |f|
  = f.hidden_field "id"
  = render :partial => "user_email", locals: {f: f}
  = render :partial => "user_name", locals: {f: f}
  = render :partial => "user_address", locals: {f: f}
  = render :partial => "yob", locals: {f: f}
  = render :partial => "gender", locals: {f: f}
  = render :partial => "ethnicity", locals: {f: f}
  = render :partial => "heardOfAdoptATreeVia", locals: {f: f}
  = render :partial => "yearsInMinneapolis", locals: {f: f}
  = render :partial => "rentOrOwn", locals: {f: f}
  = render :partial => "previousTreeWateringExperience", locals: {f: f}
  = render :partial => "previousEnvironmentalActivities", locals: {f: f}
  = render :partial => "valueForestryWork", locals: {f: f}
  = render :partial => "user_password", locals: {f: f}
  = render :partial => "user_current_password", locals: {f: f}
  %fieldset.form-actions
    = f.submit t("buttons.update"), :class => "btn btn-primary"
    %a{:href => root_path, :id => "back_link", :class => "btn"}
      = t("buttons.back")
:javascript
  $(function() {
    $('#user_email').focus();
  });
