%fieldset.control-group
  %label{:for => "gender", :id => "gender_label"}
    = t("labels.gender")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  .radio
    %label.radio
      = f.radio_button :gender, "male" 
      = t("labels.male")
    %label.radio
      = f.radio_button :gender, "female"
      = t("labels.female")
    %label.radio
      = f.radio_button :gender, "other"
      = t("labels.other")
