%fieldset.control-group
  %label{:for => :heardOfAdoptATreeVia, :id => "heardOfAdoptATreeVia_label"}
    = t("labels.heardOfAdoptATreeVia")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  .checkbox
    %label.checkbox
      = f.check_box :heardOfAdoptATreeVia, { :multiple => true }, 'brew-a-better-forest', ''
      = t("labels.brew_a_better_forest")
  .checkbox
    %label.checkbox
      = f.check_box :heardOfAdoptATreeVia, { :multiple => true }, 'minneapolis-park-board', ''
      = t("sponsors.board")
  .checkbox
    %label.checkbox
      = f.check_box :heardOfAdoptATreeVia, { :multiple => true }, 'tee4tree', ''
      = t("labels.tee4tree")
  .checkbox
    %label.checkbox
      = f.check_box :heardOfAdoptATreeVia, { :multiple => true }, 'other', ''
      = t("labels.other")
