= form_for :reminder, :url => reminders_path, :html => {:id => "reminder_form", :method => "post"} do |f|
  = f.hidden_field "from_user_id", :value => current_user.id
  = f.hidden_field "to_user_id", :value => @hydrant.user.id
  = f.hidden_field "hydrant_id", :value => @hydrant.id
  = f.submit t("buttons.send_reminder")
