%fieldset.control-group
  %label{:for => "user_address_1", :id => "user_address_1_label"}
    = t("labels.address_1")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "address_1", :placeholder => t("defaults.address_1")
%fieldset.control-group
  %label{:for => "user_address_2", :id => "user_address_2_label"}
    = t("labels.address_2")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "address_2", :placeholder => t("defaults.address_2")
%fieldset.control-group
  %label{:for => "user_city", :id => "user_city_label"}
    = t("labels.city")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "city", :placeholder => t("defaults.city")
%fieldset.control-group
  %label{:for => "user_state", :id => "user_state_label"}
    = t("labels.state")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.select "state", us_states, :include_blank => true
%fieldset.control-group
  %label{:for => "user_zip", :id => "user_zip_label"}
    = t("labels.zip")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "zip", :placeholder => t("defaults.zip")
