= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "edit_form", :method => :put} do |f|
  %h2
    = t("titles.edit_profile")
  = f.hidden_field "id"
  = f.label "email", t("labels.email"), :id => "user_email_label"
  %em
    = image_tag "lock.svg", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "email"
  = f.label "name", t("labels.name"), :id => "user_name_label"
  %em
    = t("captions.public")
  = f.text_field "name"
  = f.label "organization", t("labels.organization"), :id => "user_organization_label"
  %em
    = t("captions.public")
  = f.text_field "organization"
  = f.label "voice_number", t("labels.voice_number"), :id => "user_voice_number_label"
  %em
    = image_tag "lock.svg", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "voice_number"
  = f.label "sms_number", t("labels.sms_number"), :id => "user_sms_number_label"
  %em
    = image_tag "lock.svg", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.text_field "sms_number"
  = f.label "password", t("labels.password_new"), :id => "user_password_label"
  %em
    = t("captions.password")
  = f.password_field "password"
  = f.label "current_password", t("labels.current_password"), :id => "user_current_password_label"
  %em
    = t("captions.current_password")
  = f.password_field "current_password"
  = f.submit t("buttons.update")
= render :partial => 'things/back'
