%h2
  = t("titles.adopted", :hydrant_name => @hydrant.name ? @hydrant.name.titleize : t("defaults.hydrant_name"), :name => @hydrant.user.name)
- unless @hydrant.user.organization.blank?
  %h3
    = "of #{@hydrant.user.organization}"
- if user_signed_in?
  = render :partial => 'users/reminder'
  = render :partial => 'hydrants/steal'
  = render :partial => 'users/edit_profile'
  = render :partial => 'sessions/sign_out'
- else
  = render :partial => 'sessions/sign_in'
