%h2
  = t("titles.adopted", :thing_name => @thing.name ? @thing.name.titleize : t("defaults.this_thing", :thing => t("defaults.thing")))
  %br
  = t("titles.byline", :name => @thing.user.name)
  %br
  = t("titles.ofline", :organization => @thing.user.organization) unless @thing.user.organization.blank?
- if user_signed_in?
  = render :partial => 'users/reminder'
  = render :partial => 'users/edit_profile'
  = render :partial => 'sessions/sign_out'
- else
  = render :partial => 'sessions/sign_in'
