%h2
  = t("titles.adopted", :thing_name => @hydrant.name ? @hydrant.name.titleize : t("defaults.this_thing", :thing => t("defaults.thing")))
  %br
  = t("titles.byline", :name => @hydrant.user.name)
  %br
  = t("titles.ofline", :organization => @hydrant.user.organization) unless @hydrant.user.organization.blank?
- if user_signed_in?
  = render :partial => 'users/reminder'
  = render :partial => 'hydrants/steal'
  = render :partial => 'users/edit_profile'
  = render :partial => 'sessions/sign_out'
- else
  = render :partial => 'sessions/sign_in'
