= render :partial => "layouts/flash", :locals => {:flash => flash}
= form_for :user, :url => restricted_user_update_path(:user), :html => {:id => "survey_form", :method => :put} do |f|
  = f.hidden_field "id"
  = render :partial => "yob", locals: {f: f}
  = render :partial => "gender", locals: {f: f}
  = render :partial => "ethnicity", locals: {f: f}
  = render :partial => "heardOfAdoptATreeVia", locals: {f: f}
  = render :partial => "yearsInMinneapolis", locals: {f: f}
  = render :partial => "rentOrOwn", locals: {f: f}
  = render :partial => "previousTreeWateringExperience", locals: {f: f}
  = render :partial => "previousEnvironmentalActivities", locals: {f: f}
  = render :partial => "valueForestryWork", locals: {f: f}
  %fieldset.form-actions
    = f.submit t("buttons.update"), :class => "btn btn-primary"
    %a{:href => root_path, :id => "back_link", :class => "btn"}
      = t("buttons.back")
