<%= form_for(@hydrant, :html => {:id => "adoption_form"}) do |f| %>
  <h2>Adopt this Hydrant</h2>
  <%= f.hidden_field "id" %>
  <%= f.hidden_field "user_id", :value => current_user.id %>
  <%= f.label "name", "Give this hydrant a name", :id => "hydrant_name_label" %>
  <%= f.text_field "name", :tabindex => 1 %>
  <%= f.submit "Adopt!", :tabindex => 2, :id => "adoption_form_submit" %>
  <p>By adopting this hydrant, you agree to the <%= link_to "Terms of Service", "#", :tabindex => 3 %>.</p>
<% end %>
<%= render(:partial => 'users/edit_profile') %>
<%= render(:partial => 'sessions/sign_out') %>
