<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/adopt-a-drain-sfpuc.png", :alt => "sfwater adopt-a-drain logo", :title => "sfwater adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Thank you for adopting one of San Francisco's 25,000 catch basins/storm
    drains and keeping it free of leaves and debris. You are joining your
    neighbors in helping to protect the environment, manage stormwater, and
    minimize flooding.
  </p>

  <h2 style="font-size: 1.05em">How to Care For Your Adopted Drain</h2>

  <ul>
    <li>
      If possible, clear the drain before and after it rains.
    </li>
    <li>
      Put leaves and other natural material in the green compost bin.
    </li>
    <li>
      Put trash in the black garbage bin.
    </li>
    <li>
      Clear about 10 feet on both sides of the drain.
    </li>
    <li>
      Medical waste or needles? Construction debris? Drain clogged underneath
      the grate? <a href="http://www.sf311.org/index.aspx?page=127">Report
      to 311</a> to have it handled by the City.
    </li>
  </ul>

  <h2 style="font-size: 1.05em">Drain Cleaning Safety Tips</h2>

  <ul>
    <li>
      Never try to lift the drain grate.
    </li>
    <li>
      Clear from the sidewalk, not the street.
    </li>
    <li>
      Wear reflective clothing so vehicles can see you.
    </li>
    <li>
      Always wear gloves and be very careful of sharp objects.
    </li>
    <li>
      Use a rake, broom, or shovel - not your hands.
    </li>
  </ul>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "adoptadrain-event.png", :alt => "adopt-a-drain event", :title => "adopt-a-drain event" %>
        <p style="font-style: italic; font-size: 10px;">
          Adopt a Drain VIP event
        </p>
      </td>
    </tr>
  </table>

  <p>
    Keep an eye out for an email invitation to attend one of our VIP Volunteer
    events, where you will be able to receive drain cleaning tools and
    training. We also send periodic email reminders to clear your drains.
  </p>

  <p>
    Thanks again, <%= @user.name.split.first %>, for adopting a drain in San
    Francisco. When each of us helps out a little, it makes a big difference!
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    SFPUC <a href="https://adoptadrain.sfwater.org/">Adopt a Drain</a> Team
    <br />
    <a href="tel:415-554-3289">415-554-3289</a>
    <br />
    <a href="mailto:info@sfwater.org">info@sfwater.org</a>
  </p>

  <p>
    <em>
      Remember, the City and County of San Francisco won't be held responsible
      for anything that happens to you or others in service of maintaining your
      drain. Please be careful.
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please abandon it on
    <a href="adoptadrain.sfwater.org">https://adoptadrain.sfwater.org</a>. Thank you.
  </p>

  <p>
    <a href="https://facebook.com/sfwater" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "sfwater facebook", :title => "sfwater facebook" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/SFWater" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "sfwater twitter", :title => "sfwater twitter" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/sfwater/" style="text-decoration:none !important;">
      <%= image_tag "icons/instagram.png", :alt => "sfwater instagram", :title => "sfwater instagram" %>
    </a>
    &nbsp;
    <a href="https://www.youtube.com/user/SFPUCcommunications" style="text-decoration:none !important;">
      <%= image_tag "icons/youtube.png", :alt => "sfwater youtube", :title => "sfwater youtube" %>
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/company/sfpuc" style="text-decoration:none !important;">
      <%= image_tag "icons/linkedin.png", :alt => "sfwater linkedin", :title => "sfwater linkedin" %>
    </a>
  </p>
</td></tr></table>
