<h3>Import Report</h3>

<% if @deleted_thing_ids_with_adoptee.present? %>
  <table border="1">
    <thead>
      <tr>
        <td><b><%= t('defaults.things').titleize %> With Adoptee Removed</b></td>
      </tr>
    </thead>
    <tbody>
      <% @deleted_thing_ids_with_adoptee.each do |thing_id| %>
        <tr>
          <td>N-<%= thing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @deleted_thing_ids_with_no_adoptee.present? %>
  <table border="1">
    <thead>
      <tr>
        <td><b><%= t('defaults.things').titleize %> With No Adoptee Removed</b></td>
      </tr>
    </thead>
    <tbody>
      <% @deleted_thing_ids_with_no_adoptee.each do |thing_id| %>
        <tr>
          <td>N-<%= thing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @created_thing_ids.present? %>
  <table border="1">
    <thead>
      <tr>
        <td><b><%= t('defaults.things').titleize %> Added</b></td>
      </tr>
    </thead>
    <tbody>
      <% @created_thing_ids.each do |thing_id| %>
        <tr>
          <td>N-<%= thing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
