$(function() {
  var initialLocation;
  var center = new google.maps.LatLng(37.774929, -122.419416);
  var browserSupportFlag =  new Boolean();
  var errorClass = 'has-error';
  var current_user_id = $('#current_user_id').val() ? $('#current_user_id').val() : '';
  var mapOptions = {
    center: center,
    disableDoubleClickZoom: false,
    keyboardShortcuts: false,
    mapTypeControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    maxZoom: 21,
    minZoom: 15,
    panControl: false,
    rotateControl: false,
    scaleControl: false,
    streetViewControl: true,
    zoom: 17,
    zoomControl: true,
    styles: [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]
  };
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  /*
  // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(initialLocation);
      map.setZoom(18);
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    map.setCenter(center);
  }
  */
  var iconBase = '<%= image_path 'markers/' %>';
  var size = new google.maps.Size(27.0, 38.0);
  var origin = new google.maps.Point(0, 0);
  var anchor = new google.maps.Point(13.0, 18.0);
  var adoptedMarker = new google.maps.MarkerImage('<%= image_path 'markers/adopted.png' %>',
    size,
    origin,
    anchor
  );
  var adoptedByYouMarker = new google.maps.MarkerImage('<%= image_path 'markers/adoptedbyyou.png' %>',
    size,
    origin,
    anchor
  );
  var toSewerMarker = new google.maps.MarkerImage('<%= image_path 'markers/tosewer.png' %>',
    size,
    origin,
    anchor
  );
  var toBayOceanMarker = new google.maps.MarkerImage('<%= image_path 'markers/tobay.png' %>',
    size,
    origin,
    anchor
  );
  var markerShadowImage = new google.maps.MarkerImage('<%= image_path 'markers/shadow.png' %>',
    new google.maps.Size(46.0, 37.0),
    origin,
    anchor
  );

  var legend = document.getElementById('legend');

  var legendItems = document.createElement('div');
  legendItems.className = "legend-items";

  var icons = {
    available: {
      name: 'Drains to Sewer',
      title:  'Sewer',
      icon: '<%= image_path 'markers/tosewer.png' %>'
    },
    availableBay: {
      name: 'Drains to Ocean/Bay',
      title: 'Sewer to ocean/bay',
      icon: '<%= image_path 'markers/tobay.png' %>'
    },
    adopted: {
      name: 'Adopted',
      title:  'Adopted by other',
      icon: '<%= image_path 'markers/adopted.png' %>'
    },
    adopted_by_you: {
      name: 'Adopted by you',
      title:  'Adopted by you',
      icon: '<%= image_path 'markers/adoptedbyyou.png' %>'
    }
  };

  for (var key in icons) {
    var type = icons[key];
    var name = type.name;
    var icon = type.icon;
    var title = type.title;
    var div = document.createElement('div');
    div.innerHTML = '<img src="' + icon + '" alt="' + title + ' icon" title="' + title + '"> ' + name;
    legendItems.appendChild(div);
  }

  legend.appendChild(legendItems);

  map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(legend);

  $('#toggleLegend').click(function(){
    $('#legend .legend-items').slideToggle(function(){
      var text = $('#legend .show-hide a').html().trim();
      $('#legend .show-hide a').html( text == 'Hide' ? 'Show' : 'Hide'); 
    });
  });

  var activeThingId;
  var activeMarker;
  var activeInfoWindow;
  var isWindowOpen = false;
  var thingIds = [];
  var adoptedThings = [];
  function addMarker(thingId, point, type, user_id) {
    if(type === 'adopted') {
      var image = adoptedMarker;
    } else if(type === 'adoptedbyyou') {
      var image = adoptedByYouMarker;
    } else if(type === 'tosewer') {
      var image = toSewerMarker;
    } else if(type === 'tobayocean') {
      var image = toBayOceanMarker;
    }
    var marker = new google.maps.Marker({
      animation: google.maps.Animation.DROP,
      icon: image,
      map: map,
      position: point,
      shadow: markerShadowImage
    });
    google.maps.event.addListener(marker, 'click', function() {
      console.log(marker);
      if(activeInfoWindow) {
        activeInfoWindow.close();
      }
      var infoWindow = new google.maps.InfoWindow({
        maxWidth: 210
      });
      google.maps.event.addListener(infoWindow, 'closeclick', function() {
        isWindowOpen = false;
      });
      activeInfoWindow = infoWindow;
      activeThingId = thingId;
      activeMarker = marker;
      $.ajax({
        type: 'GET',
        url: '/info_window',
        data: {
          'thing_id': thingId
        },
        success: function(data) {
          // Prevent race condition, which could lead to multiple windows being open at the same time.
          if(infoWindow === activeInfoWindow) {
            infoWindow.setContent(data);
            infoWindow.open(map, marker);
            isWindowOpen = true;
          }
        }
      });
    });
    thingIds.push(thingId);
    if (type === 'adopted' || type === 'adoptedbyyou') {
      adoptedThings.push([user_id, marker]);
    }
  }
  function addMarkersAround(lat, lng) {
    var current_user_id = $('#current_user_id').val() ? $('#current_user_id').val() : '';
    var submitButton = $("#address_form input[type='submit']");
    $.ajax({
      type: 'GET',
      url: '/things.json',
      data: {
        'utf8': '✓',
        'lat': lat,
        'lng': lng,
        'limit': $('#address_form input[name="limit"]').val()
      },
      error: function(jqXHR) {
        $(submitButton).attr("disabled", false);
      },
      success: function(data) {
        $(submitButton).attr("disabled", false);
        if(data.errors) {
          $('#address').parent().addClass(errorClass);
          $('#address').focus();
        } else {
          $('#address').parent().removeClass(errorClass);
          var i = -1;
          $(data).each(function(index, thing) {
            if($.inArray(thing.id, thingIds) === -1) {
              i += 1;
            } else {
              // continue
              return true;
            }
            setTimeout(function() {
              var point = new google.maps.LatLng(thing.lat, thing.lng);
              var type = 'tosewer'
              if(thing.system_use_code == 'MS4') {
                type = 'tobayocean';
              }
              if(thing.user_id) {
                type  = 'adopted';
              }
              if(thing.user_id == current_user_id){
                type = 'adoptedbyyou'
              }
              addMarker(thing.id, point, type, thing.user_id);
            }, i * 100);
          });
        }
      }
    });
  }
  function flipMarkers() {
    for (var key in adoptedThings) {
      if(adoptedThings[key][0] == current_user_id) {
        adoptedThings[key][1].setIcon(adoptedByYouMarker);
      } else {
        adoptedThings[key][1].setIcon(adoptedMarker);
      }
    }
  }
  function showFlash(type, message) {
    $('#content').prepend(
        $('<div></div>').addClass('alert fade in alert-' + type).data('alert', '').append(
          $('<a></a>').addClass('close').data('dismiss', 'alert').text('×')).append(
          $('<p></p>').text(message)
          ));
  }
  function zoomTo(lat, lng, zoomLevel) {
    if (typeof zoomLevel === 'undefined') { zoomLevel = 18; }
    addMarkersAround(lat, lng);
    map.setCenter(new google.maps.LatLng(lat, lng));
    map.setZoom(zoomLevel);
  }
  google.maps.event.addListener(map, 'idle', function() {
    var center = map.getCenter();
    addMarkersAround(center.lat(), center.lng());
  });

  $('body').on('submit', '#password_edit_form', function() {
    var submitButton = $("#password_edit_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    if($('#user_password').val() === '') {
      $(submitButton).attr("disabled", false);
      $('#user_password').parent().addClass(errorClass);
      $('#user_password').next(".help-block").html('You must enter a value');
      $('#user_password').focus();
    } else {
      $.ajax({
        type: 'PUT',
        url: '/users/password.json',
        data: {
          'utf8': '✓',
          'authenticity_token': $('#password_edit_form input[name="authenticity_token"]').val(),
          'user': {
            'reset_password_token': $('#user_reset_password_token').val(),
            'password': $('#user_reset_password_token').val()
          }
        },
        error: function(jqXHR) {
          var response = $.parseJSON(jqXHR.responseText);
          $(submitButton).attr("disabled", false);
          if(response.errors.user_password) {
            $('#user_password').parent().addClass(errorClass);
            $('#user_password').next(".help-block").html(response.errors.user_password);
            $('#user_password').focus();
          }
          if(response.errors.reset_password_token) {
            $('#user_reset_password_token').parent().addClass(errorClass);
            $('#user_reset_password_token').next(".help-block").html('Password reset token is ' + response.errors.reset_password_token);
            $('#user_reset_password_token').focus();
          }
        },
        success: function(data) {
          $('.container-fluid').addClass('signed-in');
          $('.sidebar').removeClass('sidebar-full');
          $.ajax({
            type: 'GET',
            url: '/sidebar/search',
            success: function(data) {
              $('#content').html(data);
              current_user_id = $('#current_user_id').val();
              flipMarkers();
            }
          });
        }
      });
    }
    return false;
  });

  $('body').on('submit', '#address_form', function() {
    var submitButton = $("#address_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    if($('#address').val() === '') {
      $(submitButton).attr("disabled", false);
      $('#address').parent().addClass(errorClass);
      $('#address').next(".help-block").html('You must enter a value');
      $('#address').focus();
    } else {
      $.ajax({
        type: 'GET',
        url: '/address.json',
        data: {
          'utf8': '✓',
          'city_state': $('#city_state').val(),
          'address': $('#address').val()
        },
        error: function(jqXHR) {
          var response = $.parseJSON(jqXHR.responseText);
          $(submitButton).attr("disabled", false);
          $('#address').parent().addClass(errorClass);
          $('#address').next(".help-block").html(response.error);
          $('#address').focus();
        },
        success: function(data) {
          $(submitButton).attr("disabled", false);
          if(data.errors) {
            $('#address').parent().addClass(errorClass);
            $('#address').next(".help-block").html('');
            $('#address').focus();
          } else {
            $('#address').parent().removeClass(errorClass);
            $('#address').next(".help-block").html('');
            zoomTo(data[0], data[1]);
          }
        }
      });
    }
    return false;
  });

  $('body').on('click', '.thing-link', function() {
    zoomTo($(this).data('lat'), $(this).data('lng'), 20);
  });

  // Focus on the first non-empty text input or password field
  function setComboFormFocus() {
    $('#combo-form input[type="email"], #combo-form input[type="text"]:visible, #combo-form input[type="password"]:visible, #combo-form input[type="submit"]:visible, #combo-form input[type="tel"]:visible, #combo-form button:visible').each(function(index) {
      if($(this).val() === "" || $(this).attr('type') === 'submit' || this.tagName.toLowerCase() === 'button') {
        $(this).focus();
        return false;
      }
    });
  }
  $('.sidebar').on('click', '#combo-form input[type="radio"]', function() {
    var radioInput = $(this);
    if('new' === radioInput.val()) {
      $('#combo-form').data('state', 'user_sign_up');
      $('#user_forgot_password_fields').slideUp();
      $('#user_sign_in_fields').slideUp();
      $('#user_sign_up_fields').slideDown(function() {
        setComboFormFocus();
      });
    } else if('existing' === radioInput.val()) {
      $('#user_sign_up_fields').slideUp();
      $('#user_sign_in_fields').slideDown(function() {
        $('#combo-form').data('state', 'user_sign_in');
        setComboFormFocus();
        $('#user_forgot_password_link').click(function() {
          $('#combo-form').data('state', 'user_forgot_password');
          $('#user_sign_in_fields').slideUp();
          $('#user_forgot_password_fields').slideDown(function() {
            setComboFormFocus();
            $('#user_remembered_password_link').click(function() {
              $('#combo-form').data('state', 'user_sign_in');
              $('#user_forgot_password_fields').slideUp();
              $('#user_sign_in_fields').slideDown(function() {
                setComboFormFocus();
              });
            });
          });
        });
      });
    }
  });
  $('.sidebar').on('submit','#combo-form', function() {
    var submitButton = $("#combo-form input[type='submit']");
    $(submitButton).attr("disabled", true);
    var errors = []
    if(!/[\w\.%\+]+@[\w]+\.+[\w]{2,}/.test($('#user_email').val())) {
      errors.push($('#user_email'));
      $('#user_email').parent().addClass(errorClass);
    } else {
      $('#user_email').parent().removeClass(errorClass);
    }
    if(!$(this).data('state') || $(this).data('state') === 'user_sign_up') {
      if($('#user_name').val() === '') {
        errors.push($('#user_name'));
        $('#user_name').parent().addClass(errorClass);
      } else {
        $('#user_name').parent().removeClass(errorClass);
      }
      if($('#user_password_confirmation').val().length < 6 || $('#user_password_confirmation').val().length > 20) {
        errors.push($('#user_password_confirmation'));
        $('#user_password_confirmation').parent().addClass(errorClass);
      } else {
        $('#user_password_confirmation').parent().removeClass(errorClass);
      }
      if(errors.length > 0) {
        $(submitButton).attr("disabled", false);
        errors[0].focus();
      } else {
        $.ajax({
          type: 'POST',
          url: '/users.json',
          data: {
            'utf8': '✓',
            'authenticity_token': $('#combo-form input[name="authenticity_token"]').val(),
            'user': {
              'email': $('#user_email').val(),
              'name': $('#user_name').val(),
              'organization': $('#user_organization').val(),
              'voice_number': $('#user_voice_number').val(),
              'sms_number': $('#user_sms_number').val(),
              'password': $('#user_password_confirmation').val(),
              'password_confirmation': $('#user_password_confirmation').val()
            }
          },
          error: function(jqXHR) {
            var data = $.parseJSON(jqXHR.responseText);
            $(submitButton).attr("disabled", false);
            if(data.errors.email) {
              errors.push($('#user_email'));
              $('#user_email').parent().addClass(errorClass);
            }
            if(data.errors.name) {
              errors.push($('#user_name'));
              $('#user_name').parent().addClass(errorClass);
            }
            if(data.errors.organization) {
              errors.push($('#user_organization'));
              $('#user_organization').parent().addClass(errorClass);
            }
            if(data.errors.voice_number) {
              errors.push($('#user_voice_number'));
              $('#user_voice_number').parent().addClass(errorClass);
            }
            if(data.errors.sms_number) {
              errors.push($('#user_sms_number'));
              $('#user_sms_number').parent().addClass(errorClass);
            }
            if(data.errors.password) {
              errors.push($('#user_password_confirmation'));
              $('#user_password_confirmation').parent().addClass(errorClass);
            }
            errors[0].focus();
          },
          success: function(data) {
            $.ajax({
              type: 'GET',
              url: '/sidebar/search',
              /*
              data: {
                'flash': {
                  'notice': "<%= I18n.t("notices.signed_up") %>"
                }
              },*/
              success: function(data) {
                $('.sidebar').addClass('signed-in');
                $('.sidebar').removeClass('sidebar-full');
                $('#content').html(data);
              }
            });
          }
        });
      }
    } else if($(this).data('state') === 'user_sign_in') {
      if($('#user_password').val().length < 6 || $('#user_password').val().length > 20) {
        errors.push($('#user_password'));
        $('#user_password').parent().addClass(errorClass);
      } else {
        $('#user_password').parent().removeClass(errorClass);
      }
      if(errors.length > 0) {
        $(submitButton).attr("disabled", false);
        errors[0].focus();
      } else {
        $.ajax({
          type: 'POST',
          url: '/users/sign_in.json',
          data: {
            'utf8': '✓',
            'authenticity_token': $('#combo-form input[name="authenticity_token"]').val(),
            'user': {
              'email': $('#user_email').val(),
              'password': $('#user_password').val(),
              'remember_me': $('#user_remember_me').val()
            }
          },
          error: function(jqXHR) {
            var response = $.parseJSON(jqXHR.responseText)
            $(submitButton).attr("disabled", false);
            $('#user_password').parent().addClass(errorClass);
            $('#user_password').next(".help-block").html(response.error);
            $('#user_password').focus();
          },
          success: function(data) {
            $('.container-fluid').addClass('signed-in');
            $('.sidebar').removeClass('sidebar-full');
            $.ajax({
              type: 'GET',
              url: '/sidebar/search',
              success: function(data) {
                $('#content').html(data);
                current_user_id = $('#current_user_id').val();
                flipMarkers();
              }
            });
          }
        });
      }
    } else if($(this).data('state') === 'user_forgot_password') {
      if(errors.length > 0) {
        $(submitButton).attr("disabled", false);
        errors[0].focus();
      } else {
        $.ajax({
          type: 'POST',
          url: '/users/password.json',
          data: {
            'utf8': '✓',
            'authenticity_token': $('#combo-form input[name="authenticity_token"]').val(),
            'user': {
              'email': $('#user_email').val()
            }
          },
          error: function(jqXHR) {
            $(submitButton).attr("disabled", false);
            $('#user_email').parent().addClass(errorClass);
            $('#user_email').focus();
          },
          success: function() {
            showFlash('info', 'Password reset sent');
            $(submitButton).attr("disabled", false);
          }
        });
      }
    }
    return false;
  });
  $('#map').on('submit', '#adoption_form', function() {
    var submitButton = $("#adoption_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    $.ajax({
      type: 'POST',
      url: '/things.json',
      data: {
        '_method': 'patch',
        'id': $('#thing_id').val(),
        'utf8': '✓',
        'authenticity_token': $('#adoption_form input[name="authenticity_token"]').val(),
        'thing': {
          'user_id': $('#thing_user_id').val(),
          'name': $('#thing_name').val()
        }
      },
      error: function(jqXHR) {
        $(submitButton).attr("disabled", false);
      },
      success: function(data) {
        $.ajax({
          type: 'GET',
          url: '/info_window',
          data: {
            'thing_id': activeThingId
          },
          success: function(data) {
            activeInfoWindow.close();
            activeInfoWindow.setContent(data);
            activeInfoWindow.open(map, activeMarker);
            activeMarker.setIcon(adoptedByYouMarker);
            activeMarker.setAnimation(google.maps.Animation.BOUNCE);
          }
        });
      }
    });
    return false;
  });
  $('#map').on('submit', '#abandon_form', function() {
    var answer = window.confirm("Are you sure you want to abandon this <%= I18n.t("defaults.thing") %>?")
    if(answer) {
      var submitButton = $("#abandon_form input[type='submit']");
      $(submitButton).attr("disabled", true);
      $.ajax({
        type: 'POST',
        url: '/things.json',
        data: {
          '_method': 'patch',
          'id': $('#thing_id').val(),
          'utf8': '✓',
          'authenticity_token': $('#abandon_form input[name="authenticity_token"]').val(),
          'thing': {
            'user_id': $('#thing_user_id').val(),
            'name': $('#thing_name').val()
          }
        },
        error: function(jqXHR) {
          $(submitButton).attr("disabled", false);
        },
        success: function(data) {
          $.ajax({
            type: 'GET',
            url: '/info_window',
            data: {
              'thing_id': activeThingId
            },
            success: function(data) {
              activeInfoWindow.close();
              activeInfoWindow.setContent(data);
              activeInfoWindow.open(map, activeMarker);
              activeMarker.setIcon(toSewerMarker);
              activeMarker.setAnimation(null);
            }
          });
        }
      });
    }
    return false;
  });
  $('.sidebar').on('click','#edit_profile_link', function() {
    var link = $(this);
    $(link).addClass('disabled');
    $.ajax({
      type: 'GET',
      url: '/users/edit',
      error: function(jqXHR) {
        $(link).removeClass('disabled');
      },
      success: function(data) {
        $('#content').html(data);
      }
    });
    return false;
  });
  $('.sidebar').on('submit','#edit_form', function() {
    var submitButton = $("#edit_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    var errors = []
    if(!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test($('#user_email').val())) {
      errors.push($('#user_email'));
      $('#user_email').parent().addClass(errorClass);
    } else {
      $('#user_email').parent().removeClass(errorClass);
    }
    if($('#user_name').val() === '') {
      errors.push($('#user_name'));
      $('#user_name').parent().addClass(errorClass);
    } else {
      $('#user_name').parent().removeClass(errorClass);
    }
    if($('#user_zip').val() != '' && !/^\d{5}(-\d{4})?$/.test($('#user_zip').val())) {
      errors.push($('#user_zip'));
      $('#user_zip').parent().addClass(errorClass);
    } else {
      $('#user_zip').parent().removeClass(errorClass);
    }
    if($('#user_password').val() && ($('#user_password').val().length < 6 || $('#user_password').val().length > 20)) {
      errors.push($('#user_password'));
      $('#user_password').parent().addClass(errorClass);
    } else {
      $('#user_password').parent().removeClass(errorClass);
    }
    if($('#user_current_password').val().length < 6 || $('#user_current_password').val().length > 20) {
      errors.push($('#user_current_password'));
      $('#user_current_password').parent().addClass(errorClass);
    } else {
      $('#user_current_password').parent().removeClass(errorClass);
    }
    if(errors.length > 0) {
      $(submitButton).attr("disabled", false);
      errors[0].focus();
    } else {
      $.ajax({
        type: 'POST',
        url: '/users.json',
        data: {
          '_method': 'patch',
          'id': $('#id').val(),
          'thing_id': activeThingId,
          'utf8': '✓',
          'authenticity_token': $('#edit_form input[name="authenticity_token"]').val(),
          'user': {
            'email': $('#user_email').val(),
            'name': $('#user_name').val(),
            'organization': $('#user_organization').val(),
            'voice_number': $('#user_voice_number').val(),
            'sms_number': $('#user_sms_number').val(),
            'address_1': $('#user_address_1').val(),
            'address_2': $('#user_address_2').val(),
            'city': $('#user_city').val(),
            'state': $('#user_state').val(),
            'zip': $('#user_zip').val(),
            'password': $('#user_password').val(),
            'password_confirmation': $('#user_password').val(),
            'current_password': $('#user_current_password').val()
          }
        },
        error: function(jqXHR) {
          var data = $.parseJSON(jqXHR.responseText);
          $(submitButton).attr("disabled", false);
          if(data.errors.email) {
            errors.push($('#user_email'));
            $('#user_email').parent().addClass(errorClass);
          }
          if(data.errors.name) {
            errors.push($('#user_name'));
            $('#user_name').parent().addClass(errorClass);
          }
          if(data.errors.organization) {
            errors.push($('#user_organization'));
            $('#user_organization').parent().addClass(errorClass);
          }
          if(data.errors.voice_number) {
            errors.push($('#user_voice_number'));
            $('#user_voice_number').parent().addClass(errorClass);
          }
          if(data.errors.sms_number) {
            errors.push($('#user_sms_number'));
            $('#user_sms_number').parent().addClass(errorClass);
          }
          if(data.errors.address_1) {
            errors.push($('#user_address_1'));
            $('#user_address_1').parent().addClass(errorClass);
          }
          if(data.errors.address_2) {
            errors.push($('#user_address_2'));
            $('#user_address_2').parent().addClass(errorClass);
          }
          if(data.errors.city) {
            errors.push($('#user_city'));
            $('#user_city').parent().addClass(errorClass);
          }
          if(data.errors.state) {
            errors.push($('#user_state'));
            $('#user_state').parent().addClass(errorClass);
          }
          if(data.errors.zip) {
            errors.push($('#user_zip'));
            $('#user_zip').parent().addClass(errorClass);
          }
          if(data.errors.password) {
            errors.push($('#user_password'));
            $('#user_password').parent().addClass(errorClass);
          }
          if(data.errors.current_password) {
            errors.push($('#user_current_password'));
            $('#user_current_password').parent().addClass(errorClass);
          }
          errors[0].focus();
        },
        success: function(data) {
          $('#content').html(data);
        }
      });
    }
    return false;
  });
  $('.sidebar').on('click','#sign_out_link', function() {
    var link = $(this);
    $(link).addClass('disabled');
    $.ajax({
      type: 'DELETE',
      url: '/users/sign_out.json',
      error: function(jqXHR) {
        $(link).removeClass('disabled');
      },
      success: function(data) {
        current_user_id = '';
        flipMarkers();
        $.ajax({
          type: 'GET',
          url: '/sidebar/combo_form',
          success: function(data) {
            $('.sidebar').removeClass('sidebar-full');
            $('.container-fluid').removeClass('signed-in');
            $('#content').html(data);
          }
        });
      }
    });
    return false;
  });
  $('.sidebar').on('submit','#sign_out_form', function() {
    var submitButton = $("#sign_out_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    $.ajax({
      type: 'GET',
      url: '/users/sign_in',
      error: function(jqXHR) {
        $(submitButton).attr("disabled", false);
      },
      success: function(data) {
        activeInfoWindow.close();
        activeInfoWindow.setContent(data);
        activeInfoWindow.open(map, activeMarker);
      }
    });
    return false;
  });
  $('.sidebar').on('click','#back_link', function() {
    var link = $(this);
    $(link).addClass('disabled');
    $.ajax({
      type: 'GET',
      url: link.attr('href'),
      error: function(jqXHR) {
        $(link).removeClass('disabled');
      },
      success: function(data) {
        console.log(data);
        $('#content').html(data);
      }
    });
    return false;
  });
  $('#reminder_form').on('submit', function() {
    var submitButton = $("#reminder_form input[type='submit']");
    $(submitButton).attr("disabled", true);
    $.ajax({
      type: 'POST',
      url: '/reminders.json',
      data: {
        'utf8': '✓',
        'authenticity_token': $('#reminder_form input[name="authenticity_token"]').val(),
        'reminder': {
          'to_user_id': $('#reminder_to_user_id').val(),
          'thing_id': activeThingId
        }
      },
      error: function(jqXHR) {
        $(submitButton).attr("disabled", false);
      },
      success: function(data) {
        $.ajax({
          type: 'GET',
          url: '/info_window',
          data: {
            'thing_id': activeThingId
            /*
            'flash': {
              'notice': "<%= I18n.t("notices.reminder_sent") %>"
            }*/
          },
          success: function(data) {
            activeInfoWindow.close();
            activeInfoWindow.setContent(data);
            activeInfoWindow.open(map, activeMarker);
          }
        });
      }
    });
    return false;
  });
  $('.alert-message').alert();
});
