!!! 5
%html
  %head
    %title
      = t("titles.main", :thing => t("defaults.thing").titleize)
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "width=800, user-scalable=no"}
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "//maps.google.com/maps/api/js?sensor=false&language=#{I18n.locale}"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
    = javascript_include_tag "application"
    - if Rails.env.production? && ENV['GOOGLE_ANALYTICS_ID'].present?
      %script{:type => "text/javascript"}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{ENV['GOOGLE_ANALYTICS_ID']}', '#{ENV['GOOGLE_ANALYTICS_DOMAIN']}');
        ga('send', 'pageview');
    = stylesheet_link_tag "application"
  %body
    = yield
