!!! 5
%html
  %head
    %title
      Adopt a Hydrant
    = stylesheet_link_tag "/stylesheets/application.css"
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"
    = javascript_include_tag "https://github.com/scottschiller/Snowstorm/raw/master/snowstorm-min.js"
    = javascript_include_tag "/javascripts/application.js"
    = javascript_include_tag "/javascripts/analytics.js"
    = csrf_meta_tag
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
  %body
    = yield
